
<div class="container container col-md-11">

    <div class="form-group col-md-4">
        <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
    </div>     

    <label for="order">Sort By</label>
    <select name="order" #order (change)="Order(order.value)">
        <option value="pub_asc">Publish Date  (Ascending)</option>
        <option value="pub_dsc">Publish Date (Descending)</option>
        <option value="ld_asc">Last Date to Apply (Ascending)</option>
        <option value="ld_dsc">Last Date to Apply (Descending)</option>
    </select>
    
        <div class="input-group mb-2 mt-3">
          <label class="input-group-text" for="jobType">Select Job-Type</label>
          <select class="form-select"#jobType name="jobType" (change)="FilterByJobType(jobType.value)">
            <option value="all">All</option>
            <option value="fulltime">Full-Time</option>
            <option value="partTime">Part-Time</option>
            <option value="internship">Internship</option>
          </select>
        </div>
    
    <app-search-job-item *ngFor="let vacancy of vacancyData | filter : searchedKeyword | paginate: { id:'search_Pagination', itemsPerPage: pageSize, currentPage: pageIndex, totalItems : totalRecords }" [vacData]="vacancy"></app-search-job-item>


    <div class="d-flex justify-content-between p-2">
    <pagination-controls  id="search_Pagination"
                        (pageChange)="pageChange($event)"
    >
    </pagination-controls>
    </div>

    <!-- <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="15">15 items per page</option>
    </select> -->
    <!-- </div> -->
   
     
</div>
