
<div class="container ">
    <div class="row py-3">
        <div class="col-3 card  bg-secondary  p-3" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <button class="btn btn-outline-secondary mb-2" href="/profile" routerLink="profile">Profile Page</button>

                    <button class="btn btn-outline-secondary mb-2" href="/searchJobs" routerLink="../searchJobs">Search
                        Available Jobs</button>
        
                    <button class="btn btn-outline-secondary mb-2" href="/addQualification" routerLink="addQualification">Add
                        Qualification</button>
        
                    <button class="btn btn-outline-secondary mb-2" href="/showQualification" routerLink="showQualification">View
                        Qualification</button>
        
                    <button class="btn btn-outline-secondary mb-2" href="/addExperience" routerLink="addExperience">Add
                        Experience</button>
        
                    <button class="btn btn-outline-secondary mb-2" href="/showExperience" routerLink="showExperience">View
                        Experience</button>
                </div>
            </div>
        </div>
        <div class="col" id="main">
            <!-- <h1>JobSeeker Module</h1> -->
           <router-outlet></router-outlet>

        </div>
    </div>
</div>
<!-- 
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div> -->

<!-- 
<button class="btn btn-outline-secondary me-2" href="/profile" routerLink="profile">Profile Page</button>

<button class="btn btn-outline-secondary me-2" href="/searchJobs" routerLink="../searchJobs">Search Available
    Jobs</button>

<button class="btn btn-outline-secondary me-2" href="/addQualification" routerLink="addQualification">Add
    Qualification</button>

<button class="btn btn-outline-secondary me-2" href="/showQualification" routerLink="showQualification">View
    Qualification</button>

<button class="btn btn-outline-secondary me-2" href="/addExperience" routerLink="addExperience">Add Experience</button>

<button class="btn btn-outline-secondary me-2" href="/showExperience" routerLink="showExperience">View
    Experience</button> -->

<!-- <button class="btn btn-outline-secondary me-2" href="/myJobs" routerLink="postedVacancies">My Jobs</button> -->


<!-- <button class="btn btn-outline-secondary me-2">Applications</button> -->

