
<div class="container ">
    <div class="row py-3">
        <div class="col-3 card  bg-secondary  p-3" id="sticky-sidebar">
            <div class="sticky-top">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../../../assets/pngegg.png" alt="Admin" class="rounded-circle" width="100">
                    <div class="mt-3">
                      <h5>{{username}}</h5>
                      <p class="text-muted font-size-sm">{{userEmail}}</p>
                    </div>
                  </div>
                </div>
              </div>
                <div class="nav flex-column mt-3">
                    <button class="btn btn-outline-secondary mb-2 " routerLinkActive="active-link" routerLink="/jobseeker/profile">My Profile</button>

                    <button class="btn btn-outline-secondary mb-2" routerLinkActive="active-link" routerLink="/jobseeker/searchJobs">Search
                        Available Jobs</button>

                    <button class="btn btn-outline-secondary mb-2" routerLinkActive="active-link" routerLink="/jobseeker/myJobs">My Jobs</button>
                   
                </div>
                
            </div>
        </div>
        <div class="col" id="main">
            <div class="col card  bg-secondary  p-3" >
              <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
