<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-xxl ">
    <a class="navbar-brand mr-auto" href="#">JobPortal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse ml-auto" id="navbarNav">
      <ul class="navbar-nav" *ngIf="!isLoggedIn">
          <li class="nav-item" >
            <button type="button" class="btn btn-dark me-2" href="/login" routerLink="login" >Login</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark me-2"  href="/register" routerLink="register" >Register</button>
          </li>
      </ul>
    </div> -->
    
    <div class="d-flex">
      <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" href="/login" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register" routerLink="register" >Register</a>
          </li>
        </ul> 

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href class="nav-link" (click)="onLogout()">LogOut</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" routerLink="changePassword">Change Password</a>
          </li>
        </ul> 

        <!-- <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn btn-dark me-2" id="dropdownBasic1" ngbDropdownToggle> <i class="fa-solid fa-user"> </i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem >Profile</button>
              <button ngbDropdownItem routerLink="changePassword">Change Password</button>
              <button ngbDropdownItem (click)="onLogout()">LogOut</button>
            </div>
          </div>
         
        </ul> -->
        
      </div>
    </div>
  </div>
</nav>