<div class="card w-75 mt-2 shadow-sm rounded">
    <div class="card-body">
      <h5 class="card-title">{{vacancy.jobTitle}}</h5>
     
      <p>Job Type: {{vacancy.jobType}}</p>
      <p>Company Name: {{vacancy.companyName}}</p>
      <p>noOfVacancies: {{vacancy.noOfVacancies}} </p>
      <p>Location: {{vacancy.jobLocation}}</p>
      <p>published Date: {{pdate}}</p>
      <p>Last Date to Apply: {{ldate}}</p>
      
      <div *ngIf="showDetail">
        <p>JobDescription: {{vacancy.jobDescription}}</p>
        <p>Minimum Qualification: {{vacancy.minimumQualification}}</p>
        <p>Experience Required: {{vacancy.experienceRequired}}</p>
      </div>
     
      <div>
      <button class="btn btn-outline-primary me-2"  (click)="onDetail()">
        Detail 
      </button>
      <button class="btn btn-outline-primary  me-2"  (click)="onUpdate(vacancy)">
        Update 
      </button>
      <button class="btn btn-outline-danger" (click)="onDelete(vacancy.jobId)">
        Delete 
      </button>
    </div>
    </div>
  </div>
  
  <!-- <router-outlet></router-outlet> -->
  <!-- {
    "employerId": 0,
    "publishedBy": "string",
    "vacancyTitle": "string"  // new Field
    "jobType": "string"       // new
    "location": "string"      // new
    "noOfVacancies": "string",
    "jobDescription": "string",
    "minimumQualification": "string",
    "experienceRequired": "string",
    "minSalary": "string",
    "maxSalary": "string",
    "publishedDate": "string"
    "lastDate": "string", 
  } --> 