<div class="card w-75 mt-2 shadow-sm rounded">
    <div class="card-body">
      <h5 class="card-title">Job title</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <p>Job Type: Full Time</p>
      <p>noOfVacancies: 5</p>
      <p>Location: India</p>
      <p>Min Salary - Max Salary:</p>
      <p>published Date: 23/03/2022 </p>
      <p>Last Date to Apply:10/04/2022</p>
      <p>jobDescription: erjewkrj</p>
      <p>minimumQualification: 1234</p>
      <p>experienceRequired: ldkjsdj</p>
      
      <div>
      <button class="btn btn-outline-primary me-2" routerLink="../postedVacancies">
        Back
      </button>
      <button class="btn btn-outline-primary  me-2">
        Update
      </button>
      <button class="btn btn-outline-danger">
        Delete
      </button>
    </div>
    </div>
  </div>
  
  <!-- {
    "employerId": 0,
    "publishedBy": "string",
    "vacancyTitle": "string" // new Field
    "noOfVacancies": "string",
    "jobDescription": "string",
    "minimumQualification": "string",
    "experienceRequired": "string",
    "minSalary": "string",
    "maxSalary": "string",
    "publishedDate": "string"
    "lastDate": "string", 
  } --> 