<div *ngIf="update; then ifBlock else elseBlock"></div>

<ng-template #ifBlock>
  
<div class="container container col-md-11">
  <h4 class="d-flex">Update Profile</h4>
        <form
        name="form"
        (ngSubmit)="f.form.valid && updateProfile(empData[0].employerId,f.form.value)"
        #f="ngForm"
        novalidate
        class="mt-4 card bg-secondary p-3"
      >
  
      <!-- organizationName -->
      <div class="row">
        <div class="form-group col-md-6">
          <label for="organizationName">Organization Name</label>
          <span><label class="text-danger"> *</label></span>
          <input
            type="text"
            class="form-control"
            name="organizationName"
            [(ngModel)]="empData[0].organizationName"
            required
            minlength="3"
            pattern="[A-Za-z ]+"
            #organizationName="ngModel"
          />
          <div class="alert-danger" *ngIf="organizationName.errors && organizationName.touched">
            <div *ngIf="organizationName.errors['required']">This Field is required</div>
            <div *ngIf="organizationName.errors['minlength']">
              Username must be at least 3 characters
            </div>
            <div *ngIf="organizationName.errors['pattern']">
                Name Should only contain aplhabets 
            </div>
          </div>
        </div>

        <!-- orgnizationType -->
        <div class="form-group col-md-6">
            <label for="orgnizationType">Orgnization Type</label>
            <span><label class="text-danger"> *</label></span>
            <input 
                type="text" 
                class="form-control" 
                name="orgnizationType"
                [(ngModel)]="empData[0].orgnizationType"
                required
                minlength="2"
                pattern="[A-Za-z ]+"
                #orgnizationType="ngModel"
            />
            <div class="alert-danger" *ngIf="orgnizationType.errors && orgnizationType.touched">
                <div *ngIf="orgnizationType.errors['required']">This Field is required</div>
                <div *ngIf="orgnizationType.errors['minlength']">
                  Name must be at least 3 characters
                </div>
                <div *ngIf="orgnizationType.errors['pattern']">
                  Name Should only contain aplhabets 
                </div>
              </div>
        </div>
      </div>

      <div class="row mt-3">
        <!-- email -->
        <div class="form-group col-md-6">
          <label for="companyEmail">Company Email</label>
          <span><label class="text-danger"> *</label></span>
          <input
            type="email"
            class="form-control"
            name="companyEmail"
            [(ngModel)]="empData[0].companyEmail"
            required
            email
            #companyEmail="ngModel"
          />
          <div class="alert-danger" *ngIf="companyEmail.errors && companyEmail.touched">
            <div *ngIf="companyEmail.errors['required']">This Field is required</div>
            <div *ngIf="companyEmail.errors['email']">
              Please Enter Valid Email Adress
            </div>
          </div>
        </div>

        
        <!-- Contact Number -->
        <div class="form-group col-md-6">
          <label for="companyPhone ">Company Phone</label>
          <span><label class="text-danger"> *</label></span>
          <input
            type="text"
            class="form-control"
            name="companyPhone"
            [(ngModel)]="empData[0].companyPhone"
            required
            #companyPhone="ngModel"
            pattern="[0-9]{10,12}"
          />
          <div class="alert-danger" *ngIf="companyPhone.errors && companyPhone.touched">
            <div *ngIf="companyPhone.errors['required']">This Field is required</div>
            <div *ngIf="companyPhone.errors['pattern']">
              Please Enter Valid Phone Number
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
       <!-- startYear -->
       <div class="form-group col-md-6">
        <label for="startYear">Founded In</label>
        <span><label class="text-danger"> *</label></span>
        <input
          type="text"
          class="form-control"
          name="startYear"
          [(ngModel)]="empData[0].startYear"
          required
          #startYear="ngModel"
        pattern="(18(?:[0-9]{2}))|(19(?:[0-9]{2}))|(20(?:[0-2][0-2]))"
        />
        <div class="alert-danger" *ngIf="startYear.errors && startYear.touched">
          <div *ngIf="startYear.errors['required']">This Field is required</div>
          <div *ngIf="startYear.errors['pattern']">
            Please Enter Valid Year!
          </div>
        </div>
     

      </div>

       <!-- noOfEmployees -->
       <div class="form-group col-md-6">
        <label for="noOfEmployees">No. of Employees</label>
        <span><label class="text-danger"> *</label></span>
        <input
          type="number"
          class="form-control"
          name="noOfEmployees"
          [(ngModel)]="empData[0].noOfEmployees"
          required
          #noOfEmployees="ngModel"
          minlength="1"
          pattern="[0-9]+"
        />
        <div class="alert-danger" *ngIf="noOfEmployees.errors && noOfEmployees.touched">
          <div *ngIf="noOfEmployees.errors['required']">This Field is required</div>
          <div *ngIf="noOfEmployees.errors['pattern']">
            Please Enter Only Number!!
          </div>
        </div>
      </div>
    </div>
      

        <!-- About -->
        <div class="form-group mt-3">
            <label for="about">About</label>
            <span><label class="text-danger"> *</label></span>
            <textarea 
                type="textbox" 
                class="form-control" 
                name="about"
                [(ngModel)]="empData[0].about"
                required
                minlength="3"
                #about="ngModel"
            ></textarea>
            <div class="alert-danger" *ngIf="about.errors && about.touched">
                <div *ngIf="about.errors['required']">This Field is required</div>
                <div *ngIf="about.errors['minlength']">
                Please Enter at least 3 characters
                </div>
            </div>
        </div>

        <!-- email -->
        <div class="form-group mt-3">
          <input
            type="hidden"
            class="form-control"
            name="createdBy"
            [(ngModel)]="empData[0].createdBy"
            required
            email
            #createdBy="ngModel"
            readonly
          />       
        </div>

         <div class="form-group mt-3">
            <button class="btn btn-primary" [disabled]="f.invalid">
                <span class="mr-1"></span>
                Update Profile
            </button>
        
          </div>
       
      </form>
    </div>
</ng-template>

<ng-template #elseBlock>
  
  <div class="container container col-md-12">
    <h2 class="d-flex ">Create Profile</h2>
          <form
          name="form"
          (ngSubmit)="f.form.valid && createProfile(f.form.value)"
          #f="ngForm"
          novalidate
          class="mt-4 card bg-secondary p-3"
        >
    
        <!-- organizationName -->
        <div class="row">
          <div class="form-group col-md-6">
            <label for="organizationName">Organization Name</label>
            <span><label class="text-danger"> *</label></span>
            <input
              type="text"
              class="form-control"
              name="organizationName"
              [(ngModel)]="form.organizationName"
              required
              minlength="3"
              pattern="[A-Za-z ]+"
              #organizationName="ngModel"
            />
            <div class="alert-danger" *ngIf="organizationName.errors && organizationName.touched">
              <div *ngIf="organizationName.errors['required']">This Field is required</div>
              <div *ngIf="organizationName.errors['minlength']">
                Username must be at least 3 characters
              </div>
              <div *ngIf="organizationName.errors['pattern']">
                  Name Should only contain aplhabets 
              </div>
            </div>
          </div>
  
          <!-- orgnizationType -->
          <div class="form-group col-md-6">
              <label for="orgnizationType">Orgnization Type</label>
              <span><label class="text-danger"> *</label></span>
              <input 
                  type="text" 
                  class="form-control" 
                  name="orgnizationType"
                  [(ngModel)]="form.orgnizationType"
                  required
                  minlength="2"
                  pattern="[A-Za-z ]+"
                  #orgnizationType="ngModel"
              />
              <div class="alert-danger" *ngIf="orgnizationType.errors && orgnizationType.touched">
                  <div *ngIf="orgnizationType.errors['required']">This Field is required</div>
                  <div *ngIf="orgnizationType.errors['minlength']">
                    Name must be at least 3 characters
                  </div>
                  <div *ngIf="orgnizationType.errors['pattern']">
                    Name Should only contain aplhabets 
                  </div>
                </div>
          </div>
        </div>
  
        <div class="row mt-3">
          <!-- email -->
          <div class="form-group col-md-6">
            <label for="companyEmail">Company Email</label>
            <span><label class="text-danger"> *</label></span>
            <input
              type="email"
              class="form-control"
              name="companyEmail"
              [(ngModel)]="form.companyEmail"
              required
              email
              #companyEmail="ngModel"
            />
            <div class="alert-danger" *ngIf="companyEmail.errors && companyEmail.touched">
              <div *ngIf="companyEmail.errors['required']">This Field is required</div>
              <div *ngIf="companyEmail.errors['email']">
                Please Enter Valid Email Adress
              </div>
            </div>
          </div>
  
          
          <!-- Contact Number -->
          <div class="form-group col-md-6">
            <label for="companyPhone ">Company Phone</label>
            <span><label class="text-danger"> *</label></span>
            <input
              type="text"
              class="form-control"
              name="companyPhone"
              [(ngModel)]="form.companyPhone"
              required
              #companyPhone="ngModel"
              pattern="[0-9]{10,12}"
            />
            <div class="alert-danger" *ngIf="companyPhone.errors && companyPhone.touched">
              <div *ngIf="companyPhone.errors['required']">This Field is required</div>
              <div *ngIf="companyPhone.errors['pattern']">
                Please Enter Valid Phone Number
              </div>
            </div>
          </div>
        </div>
  
        <div class="row mt-3">
         <!-- startYear -->
         <div class="form-group col-md-6">
          <label for="startYear">Founded In</label>
          <span><label class="text-danger"> *</label></span>
          <input
            type="text"
            class="form-control"
            name="startYear"
            [(ngModel)]="form.startYear"
            required
            #startYear="ngModel"
          pattern="(18(?:[0-9]{2}))|(19(?:[0-9]{2}))|(20(?:[0-2][0-2]))"
          />
          <div class="alert-danger" *ngIf="startYear.errors && startYear.touched">
            <div *ngIf="startYear.errors['required']">This Field is required</div>
            <div *ngIf="startYear.errors['pattern']">
              Please Enter Valid Year!
            </div>
          </div>
       
  
        </div>
  
         <!-- noOfEmployees -->
         <div class="form-group col-md-6">
          <label for="noOfEmployees">No. of Employees</label>
          <span><label class="text-danger"> *</label></span>
          <input
            type="number"
            class="form-control"
            name="noOfEmployees"
            [(ngModel)]="form.noOfEmployees"
            required
            #noOfEmployees="ngModel"
            minlength="1"
            pattern="[0-9]+"
          />
          <div class="alert-danger" *ngIf="noOfEmployees.errors && noOfEmployees.touched">
            <div *ngIf="noOfEmployees.errors['required']">This Field is required</div>
            <div *ngIf="noOfEmployees.errors['pattern']">
              Please Enter Only Number!!
            </div>
          </div>
        </div>
      </div>
        
  
          <!-- About -->
          <div class="form-group mt-3">
              <label for="about">About</label>
              <span><label class="text-danger"> *</label></span>
              <textarea 
                  type="textbox" 
                  class="form-control" 
                  name="about"
                  [(ngModel)]="form.about"
                  required
                  minlength="3"
                  #about="ngModel"
              ></textarea>
              <div class="alert-danger" *ngIf="about.errors && about.touched">
                  <div *ngIf="about.errors['required']">This Field is required</div>
                  <div *ngIf="about.errors['minlength']">
                  Please Enter at least 3 characters
                  </div>
              </div>
          </div>
  
          <!-- email -->
          <div class="form-group">
            <input
              type="hidden"
              class="form-control"
              name="createdBy"
              [(ngModel)]="form.createdBy"
              required
              email
              #createdBy="ngModel"
              readonly
            />       
            </div>
    
  
           <div class="form-group mt-3">
              <button class="btn btn-primary" [disabled]="f.invalid">
                  <span class="mr-1"></span>
                  Create Profile
              </button>
          </div>
  
        </form>
      </div>
</ng-template>
