
<div class="card w-75 mt-2 shadow-sm rounded">
    <div class="card-body">
      <div class="row">
      <h5 class="card-title">Qualification Name: {{qualificationData.qualificationName}} </h5>
     <div>
      <h6>University: {{qualificationData.university}} </h6>
      <h6>Year Of Completion: {{qualificationData.yearOfCompletion}} </h6>
      <h6>Grade: {{qualificationData.grade}} </h6>
     </div>
    <div>
    
      <!-- <button class="btn btn-outline-primary  me-2"  (click)="onUpdate(vacancy)">
        Update 
      </button> -->
      <button class="btn btn-outline-danger" (click)="onDelete(qualificationData.qualificationId)">
        Delete 
      </button>
    </div>
    </div>
  </div>
</div>
