<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

<div class="card w-100 mt-2 shadow-sm rounded">
    <div class="card-body">
      
      <div class="row">

    <div class="d-flex justify-content-between">
        <h5 class="card-title">Job Title: {{vacData.jobTitle}}</h5>
        <p >Published On: {{pdate}}</p>
    </div>
      <!-- <h5 class="card-title">Job Title: {{vacData.jobTitle}}</h5> -->
      <h6 class="card-title">Company Name: {{vacData.companyName}}</h6>

      <div class="row mt-2">
        <ul class="d-flex justify-content-between col-md-8 text-capitalize ff-open-sans">
          <li class="mr-md-4 ">
              <i class="zmdi zmdi-pin mr-2"></i> {{vacData.jobLocation}}
          </li>
          <li class="mr-md-4">
              <i class="zmdi zmdi-money mr-2"></i> {{vacData.minSalary}}-{{vacData.maxSalary}}
          </li>
          <li class="mr-md-4">
              <i class="zmdi zmdi-time mr-2"></i> {{vacData.jobType}}
          </li>
          <li class="mr-md-4">
              No Of Vacancies: {{vacData.noOfVacancies}} 
          </li>
        </ul>
        </div>
     <div>
       <!-- <div class="row">
        <p class="col-md-4">Published On: {{pdate}}</p>
        <p class="col-md-4">No Of Vacancies: {{vacData.noOfVacancies}} </p>
       
       </div> -->
       <p class="col-md-4">Last Date to Apply: {{ldate}}</p>
     
      <div *ngIf="showDetail">
        <p>JobDescription: {{vacData.jobDescription}}</p>
        <p>Minimum Qualification: {{vacData.minimumQualification}}</p>
        <p>Experience Required: {{vacData.experienceRequired}}</p>
      </div>
      
      <div>
     </div>
     
     
      <button *ngIf="!showDetail" class="btn btn-outline-primary me-2"  (click)="onDetail()">
       Show Detail 
      </button>
      
     
      <button *ngIf="showDetail" class="btn btn-outline-primary me-2"  (click)="onDetail()">
       Hide Detail 
      </button>
      
      <button *ngIf="!applied" class="btn btn-outline-primary me-2"  (click)="onApply(vacData.jobId, vacData.publisherEmail, vacData.companyName, vacData.jobTitle)">
       Apply
      </button>

      <button *ngIf="applied" class="btn btn-outline-primary me-2" disabled >
       Applied
      </button>
      
    </div>
    </div>
  </div>
</div>
