<div class="card col-md-6 offset-md-3 mt-5">
    <h4 class="card-header">Change Password</h4>
    <div class="card-body">
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit(f.form.value)"
        #f="ngForm"
        novalidate
      >

      <div class="form-group">
        <label for="userName">Username</label>
        <input
          type="text"
          class="form-control"
          name="userName"
          [(ngModel)]="form.userName"
          required
          minlength="3"
          maxlength="20"
          #userName="ngModel"
        />
        <div class="alert-danger" *ngIf="userName.errors && userName.touched">
          <div *ngIf="userName.errors['required']">Username is required</div>
          <div *ngIf="userName.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="userName.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>

         <!-- password -->
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input
              type="password"
              class="form-control"
              name="oldPassword"
              [(ngModel)]="form.oldPassword"
              required
              minlength="6"
              #oldPassword="ngModel"
            />
            <div class="alert-danger" *ngIf="oldPassword.errors && oldPassword.touched">
              <div *ngIf="oldPassword.errors['required']">old Password is required</div>
              <div *ngIf="oldPassword.errors['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
          </div>

         <!-- password -->
         <div class="form-group">
            <label for="newPassword">New Password</label>
            <input
              type="password"
              class="form-control"
              name="newPassword"
              [(ngModel)]="form.newPassword"
              required
              minlength="6"
              #newPassword="ngModel"
            />
            <div class="alert-danger" *ngIf="newPassword.errors && newPassword.touched">
              <div *ngIf="newPassword.errors['required']">New Password is required</div>
              <div *ngIf="newPassword.errors['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
          </div>

          <div class="form-group mt-3">
            <button class="btn btn-primary">
                <span class="mr-1"></span>
                Change Password
            </button>
            
            <a class="btn btn-link" (click)="onCancel()">Cancel</a>
        </div>
      </form>
    </div>
  </div>
