<div class="card w-75 mt-2 shadow-sm rounded">
    <div class="card-body">
      <div class="row">
      <h5 class="card-title">Company Name:</h5>
      <!-- <span class="badge bg-light p-2">Light</span> -->
      <!-- <p>Job Type: {{vacancy.jobType}}</p> -->
      <!-- <p>Company Name: {{vacancy.companyName}}</p> -->
      <p>University: </p>
      <p>yearOfCompletion: </p>
      <p>grade : </p>
    <div>
    
      <!-- <button class="btn btn-outline-primary  me-2"  (click)="onUpdate(vacancy)">
        Update 
      </button>
      <button class="btn btn-outline-danger" (click)="onDelete(vacancy.jobId)">
        Delete 
      </button> -->
    </div>
    </div>
  </div>
</div>
