<div class="card w-75 mt-2 shadow-sm rounded">
    <div class="card-body">
      <div class="row">
      <h5 class="card-title">Company Name: {{experienceData.companyName}} </h5>
      <p>Designation: {{experienceData.companyName}}</p>
      <p>Duration: {{experienceData.startDate}} - {{experienceData.endDate}}</p>
      <p>companyUrl: {{experienceData.companyUrl}} </p>
      <p>Job Description : {{experienceData.jobDescription}} </p>
    <div>
    
      <!-- <button class="btn btn-outline-primary  me-2"  (click)="onUpdate(vacancy)">
        Update 
      </button> -->
      <button class="btn btn-outline-danger" (click)="onDelete(experienceData)">
        Delete 
      </button>
      </div>
    </div>
  </div>
</div>
