<div class="card-block">
    <div class="m-3">

        <div class="d-flex justify-content-between m-b-20 p-b-5 b-b-default ">
            <h5 class="f-w-600">Applicant Details</h5>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Full Name</p>
                <h6 class="text-muted f-w-400">{{jobseekerDetail[0].firstName | titlecase}}
                    {{jobseekerDetail[0].lastName | titlecase}}</h6>
            </div>
            <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Email</p>
                <h6 class="text-muted f-w-400">{{jobseekerDetail[0].email}}</h6>
            </div>


            <div class="col-sm-6 mt-3">
                <p class="m-b-10 f-w-600">Phone</p>
                <h6 class="text-muted f-w-400">{{jobseekerDetail[0].phoneNumber}}</h6>
            </div>
            <div class="col-sm-6 mt-3">
                <p class="m-b-10 f-w-600">Date Of Birth</p>
                <h6 class="text-muted f-w-400">{{dob}}</h6>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Total Work Expericence</p>
                <h6 class="text-muted f-w-400">{{jobseekerDetail[0].totalWorkExpericence}} Years</h6>
            </div>
            <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Expected Salary</p>
                <h6 class="text-muted f-w-400">${{jobseekerDetail[0].expectedSalary}}</h6>
            </div>
        </div>
        <div class="row mt-3">

            <div class="col-sm-12">
                <p class="m-b-10 f-w-600">Address</p>
                <h6 class="text-muted f-w-400">{{jobseekerDetail[0].address}}</h6>
            </div>
        </div>
    </div>
</div>