<div class="card w-100 mt-2 shadow-sm rounded">
  <div class="card-body">
    <div class="row">

      <div class="d-flex justify-content-between">
        <h5 class="card-title">Job Title: {{myJobsData.jobTitle}}</h5>
        <p class="text-muted">Applied On: {{appliedDate}}</p>
      </div>
      <div class="d-flex justify-content-between">
        <h6 class="text-muted">Company Name: {{myJobsData.companyName}}</h6>
        <span *ngIf="myJobsData.status === 'accept'" class="badge rounded-pill bg-success p-2">Accepted</span>
        <span *ngIf="myJobsData.status === 'reject'" class="badge rounded-pill bg-danger p-2">Rejected</span>
        <span *ngIf="myJobsData.status === 'pending'" class="badge rounded-pill bg-warning p-2">Decision Pending...</span>
      </div>
    </div>
  </div>
</div>