<div class="card w-100 mt-2 shadow-sm rounded">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Applicant Name: {{vacReqData.applicantFirstName | titlecase}} {{
        vacReqData.applicantLastName | titlecase}}</h5>
      <p>Applied On: {{appliedDate}} </p>
    </div>
    <p>Email: {{vacReqData.jobSeekerEmail}}</p>
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-primary me-2" (click)="onViewProfile(vacReqData.jobSeekerEmail, content_Emp )">
        View Profile
      </button>
      <div *ngIf="vacReqData.status === 'pending'">
        <button class="btn btn-outline-primary  me-2" (click)="open(content_Accept )">
          Accept
        </button>
        <button class="btn btn-outline-danger me-2" (click)="open(content_Reject )">
          Reject
        </button>
      </div>
      <div *ngIf="vacReqData.status !== 'pending'" class="d-flex justify-content-between">
        <span *ngIf="vacReqData.status === 'accept'" class="badge bg-success p-3">Accepted</span>
        <span *ngIf="vacReqData.status === 'reject'" class="badge bg-danger p-3">Rejected</span>
      </div>
    </div>
  </div>
</div>


<ng-template #content_Emp let-modal class="modal-dialog">
  <div class="modal-content" style="min-width: 45vw">
    <div class="modal-body">
      <app-job-seeker-profile-modal [jobseekerDetail]="jobseekerDetail"></app-job-seeker-profile-modal>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
  </div>
</ng-template>


<ng-template #content_Accept let-modal class="modal-dialog">
  <div class="modal-body">
    <app-confirmation-modal [msg]="accept_msg"></app-confirmation-modal>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onAccept(vacReqData.requestId)">Accept</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #content_Reject let-modal class="modal-dialog">
  <div class="modal-body">
    <app-confirmation-modal [msg]="reject_msg"></app-confirmation-modal>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onReject(vacReqData.requestId)">Reject</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>