<h1>Employer Module</h1>

<div class="container ">
    <div class="row py-3">
        <div class="col-3 card  bg-secondary  p-3" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <!-- -> Create Employer , Update -->
                    <button class="btn btn-outline-secondary mb-2" href="/profile" routerLink="profile">Profile
                        Page</button>
                    <!-- <button type="button" class="btn btn-dark me-2"  href="/register" routerLink="register" >Profile Page</button> -->

                    <!-- -> Add, Delete , Update  -->
                    <button class="btn btn-outline-secondary mb-2" href="/newVacancy" routerLink="newVacancy">Post New
                        Vacancy</button>

                    <!-- -> Get All Vacancy , Get Vacancy Detail  -->
                    <button class="btn btn-outline-secondary mb-2" href="/postedVacancies"
                        routerLink="postedVacancies">Posted Vacancies</button>


                    <!-- <button class="btn btn-outline-secondary me-2" routerLink="vacancyRequests" >Vacancy Requests</button> -->
                </div>
            </div>
        </div>
        <div class="col" id="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


