<h1>Employer Module</h1>

<div class="container">
    <div class="row py-3">
        <div class="col-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column">
                    <a href="#_" class="nav-link">Link</a>
                    <a href="#_" class="nav-link">Link</a>
                    <a href="#_" class="nav-link">Link</a>
                    <a href="#_" class="nav-link">Link</a>
                    <a href="#_" class="nav-link">Link</a>
                </div>
            </div>
        </div>
        <div class="col" id="main">
            <h1>Main Area</h1>
            <p>Chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply <br/> Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
            <p>3 wolf moon retro jean shorts chambray sustainable roof party. Shoreditch <br/>vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel<br/> Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
        </div>
    </div>
</div>
<!-- -> Create Employer , Update -->
<button class="btn btn-outline-secondary me-2" href="/profile" routerLink="profile">Profile Page</button>
<!-- <button type="button" class="btn btn-dark me-2"  href="/register" routerLink="register" >Profile Page</button> -->

<!-- -> Add, Delete , Update  -->
<button class="btn btn-outline-secondary me-2" href="/newVacancy" routerLink="newVacancy">Post New Vacancy</button>

<!-- -> Get All Vacancy , Get Vacancy Detail  -->
<button class="btn btn-outline-secondary me-2" href="/postedVacancies" routerLink="postedVacancies">Posted Vacancies</button>


<button class="btn btn-outline-secondary me-2">Applications</button>

<router-outlet></router-outlet>