<h1>Employer Module</h1>

<!-- -> Create Employer , Update -->
<button href="/profile" routerLink="profile">Profile Page</button>
<!-- <button type="button" class="btn btn-dark me-2"  href="/register" routerLink="register" >Profile Page</button> -->

<!-- -> Add, Delete , Update  -->
<button href="/newVacancy" routerLink="newVacancy">Post New Vacancy</button>

<!-- -> Get All Vacancy , Get Vacancy Detail  -->
<button href="/postedVacancies" routerLink="postedVacancies">Posted Vacancies</button>


<button>Applications</button>

<router-outlet></router-outlet>